.shim, .bbox {
    fill: none; 
    stroke: black; 
    stroke-width: 0.1;
}
.piece .thumbnail {
    text-align: center;
}
.piece .piece-select {
    position: absolute;
    margin: 10px;
}
.piece .piece-select + label {
    width: 100%;
    background-color: #e0e0e0;
    _background-image: linear-gradient(to bottom,#e0e0e0 0,#b0b0b0 100%);
    opacity: 0.5;
}
.piece .piece-select:checked + label {
    background-color: #fff;
    _background-image: inherit;
    opacity: 1.0;
}
.piece  svg {
    height: 256px;
    margin-top: 10px;
}
#pdf {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

legend {
    font-size: larger;
    font-weight: bold;
}

/* Disable animation of progress bar as it disrupts the update during 
 * background processing. */
.progress-bar {
    -webkit-transition: none;
    transition: none;
}

/* Bootstrap CSS ajustment for toolbar. */
#toolbar {
  border-color: black;
  border-left: none;
  border-right: none;
  margin-left: 12px;
  margin-right: 12px;
  padding: 14px 0;
}
#toolbar .control-label {
    padding-top: 8px;
}

/* Times sign separator between #columns/#rows. */
@media (min-width: 768px) {
	#display1 {
		padding-right: 16px;
		position: relative;
	}
	#display1:after {
		display: block;
		position: absolute;
		right: -0.5ex;
		top: 40px;
		content: "\d7";
	}
	#display2 {
		padding-left: 16px;
	}
}
